/* Services.css */
li {
  font-size: 1rem;
  color: #fff;
}
.btn-primary {
  padding: 10px 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.hero-btns {
  text-align: center;
}